# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.dist-info/
*.log

# Environment Variables
.env
.env.*

# Virtual Environments
.venv/
venv/
ENV/

# PyCharm Project Files
.idea/
*.iml

# Misc
.DS_Store
Thumbs.db